.navbar {
    width: 100%;
    height: 60px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Marca / Logo na barra de navegação */
.nav-brand h1 {
    font-size: 1.5rem;
    align-items: center;
    color: #004aad;
    /* Ajuste a cor para sua identidade visual */
}

/* Seção de busca na navbar */
.nav-search {
    display: flex;
    align-items: center;
    flex: 1;
    /* Permite que a busca cresça, empurrando ícones para a direita */
    justify-content: end;
    padding-right: 20px;
}

.nav-search input {
    width: 300px;
    /* Ajuste conforme necessário */
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.nav-search button {
    background-color: #004aad;
    border: none;
    color: #fff;
    padding: 8px 12px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    font-size: 1rem;
}

/* Ícones de navegação (lado direito) */
.nav-icons {
    display: flex;
    align-items: center;
}

.nav-icons a {
    margin-left: 15px;
    /* Espaçamento entre ícones */
    display: flex;
    padding: 5px;
    flex-direction: column;
    /* Ícone em cima, texto embaixo */
    align-items: center;
    /* Centraliza os itens */
    text-decoration: none;
    /* Remove sublinhado */
    color: #004aad;
    font-size: 14px;
    /* Ajusta tamanho do texto */
}

.nav-icons a:hover {
    color: #1859ad;
}

.nav-icons img {
    width: 24px;
    /* Tamanho do ícone */
    height: 24px;
    object-fit: cover;
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Centraliza os itens na horizontal */
    text-decoration: none;
    /* Remove sublinhado */
    color: inherit;
    /* Mantém a cor padrão */
}

.nav-link i {
    font-size: 24px;
    /* Tamanho do ícone */
    margin-bottom: 5px;
    /* Espaço entre o ícone e o texto */
}

.nav-link span {
    font-size: 14px;
    /* Ajusta o tamanho do texto */
}